<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Auto Data Generator</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<body>
    <!-- Conveyor belt and webcam status -->
    <!-- Eg statuses; Advanving Conveyor, Capturing Photo, Ready, Conveyor offline, Camera offline. -->
    <!-- TODO: set status when server calls functions -->
    <br>
    <div class="status">
        <span>Status: </span><span id="status">SET_ME</span>
    </div>
    <div class="centerer">
        <h1>Auto Data Generator</h1>

        <p>
            <%= count %> items in collection so far</p>

        <h2> Recent objects </h2>

        <table class="table">
            <tr>
                <th>Object Name</th>
                <th>Location in Museum</th>
                <th>Location in Wild</th>
            </tr>
            <% results.forEach(function(result) { %>
                <tr>
                    <td>
                        <a href="/item/<%= result._id%>"><%= result.objName%></a>
                    </td>
                    <td>
                        <%= result.museumLocation%>
                    </td>
                    <td>
                        <%= result.wildLocation%>
                    </td>
                    <td>
                        <% if (result.imageUrl) { %><img src="<%= result.imageUrl %>" width="200" height="200"><% } %>
                    </td>
                </tr>
                <% }) %>
        </table>

        Page:
        <% pages.forEach(function(page) { %>
            <a href="<%= page.url%>">
                <%= page.number%>
            </a>
            <% })%>
                <h2> Add new object </h2>

                <br>

                <!-- Contains all the data fields and photo display from webcam -->
                <form class="object-data" method="POST">

                    <!-- On submit, take photo from webcam -->
                    <div>
                        <video autoplay id="video" width="640" height="480"></video>
                        <canvas id="canvas" width="640" height="480" style="display:none"></canvas>
                        <input type="hidden" name="imageUrl" id="image-url-input">
                    </div>

                    <div class="form-group">
                        <label>Object Name:</label><input type="text" id="obj-name" name="objName">
                    </div>
                    <br>

                    <div class="">
                        <label>Expedition:</label><input type="text" name="museumLocation">
                    </div>
                    <br>
                    <div class="">
                        <label>Sample Text:</label><input type="text" id="wildLocation">
                    </div>
                    <br>
                    <div class="">
                        <label>Origin:</label><input type="text" id="">
                    </div>
                    <br>
                    <div class="">
                        <label>Collection: </label><input type="text" id="">
                    </div>
                    <br>
                    <div class="">
                        <label>Value: </label><input type="text" id="">
                    </div>
                    <br>
                    <div class="">
                        <label>Storeage location: </label><input type="text" id="">
                    </div>
                    <br>

                    <!-- This button adds more fields -->
                    <!-- Field should have a field name and content can be a string -->
                    <!-- TODO: Add javascript -->
                    <br>
                    <h3> Extra Fields</h3>
                    <div>
                        <div class="extra-field" data-fieldno="1">
                            <label>Field: </label><input type="text" class="extra-field" name="customFieldName1">
                            <label>Data: </label><input type="text" class="extra-field" name="customFieldValue1">
                            <input class="buttons" type="button" value="Add Field" id="add-field-btn">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Save">
                </form>

    </div>
    <!-- Centeter -->

    <script src="videocapture.js"></script>
    <script src="customfields.js"></script>
</body>

</html>
