 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Auto Data Generator</title>
</head>

<body>
<h1>Auto Data Generator</h1>

<p><%= count %> items in collection so far</p>

<h2> Recent objects </h2>

<table class="table">
<tr><th>Object Name</th><th>Location in Museum</th><th>Location in Wild</th></tr>
<% results.forEach(function(result) { %>
<tr><td><%= result.objName%></td><td><%= result.museumLocation%></td><td><%= result.wildLocation%></tr>
<% }) %>
</table>

<h2> Add new object </h2>
    <form class="object-data" method="POST">
        <div class="form-group">
            <label>Object Name:</label>
            <input type="text" id="obj-name" name="objName">
        </div>
        <br>
        <div>
            <img src="images/vase.jpeg" alt="vase">
        </div>
        <br>
        <div class="">
            <label>Location in Museum:</label>
            <input type="text" name="museumLocation">
        </div>
        <br>
        <div class="">
            <label>Location in Wild:</label>
            <input type="text" id="wildLocation">
        </div>        
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>        
        <input type="submit" value="Save">
    </form>
</body>

</html> 