 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Auto Data Generator</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<body>
<div class="centerer">   
<h1>Auto Data Generator</h1>
<p><%= count %> items in collection so far</p>

<h2> Recent objects </h2>

<table class="table">
<tr><th>Object Name</th><th>Location in Museum</th><th>Location in Wild</th><th>Image</th></tr>
<% results.forEach(function(result) { %>
<tr><td><%= result.objName%></td><td><%= result.museumLocation%></td><td><%= result.wildLocation%></td><td><% if (result.imageUrl) { %><img src="<%= result.imageUrl %>" width="200" height="200"><% } %></td></tr>
<% }) %>
</table>

Page: <% pages.forEach(function(page) { %>
    <a href="<%= page.url%>"><%= page.number%></a>
<% })%>
<h2> Add new object </h2>
    <form class="object-data" method="POST">
        <div class="form-group">
            <label>Object Name:</label>
            <input type="text" id="obj-name" name="objName">
        </div>
        <br>
        
        <!-- On button press, take photo from webcam -->
        <div>
            <video autoplay id="video" width="640" height="480"></video>
            <canvas id="canvas" width="640" height="480" style="display:none"></canvas>
            <input type="hidden" name="imageUrl" id="image-url-input">
        </div>
        <br>
        <div class="">
            <label>Location in Museum:</label>
            <input type="text" name="museumLocation">
        </div>
        <br>
        <div class="">
            <label>Location in Wild:</label>
            <input type="text" id="wildLocation">
        </div>        
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        <div class="">
            <label>Text:</label>
            <input type="text" id="">
        </div>
        <br>
        
        <!-- This button adds more fields -->
        <!-- Field should have a field name and content can be a string -->
        <div>
        <input type="text" class="extra-field">
        <input class="buttons" type="button" value="Add Field" id="add-field-btn">
        </div>
        <br>
        <input type="submit" value="Save" id="Save">

    </div> <!-- Centeter -->
    </div>
    </form>
    </div>
            <script src="videocapture.js"></script>
</body>
</html> 